@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("./__button.css");

:root {
  --color1: #262626;
  --color2: #eceff4;
  --color3: #d8dee9;
  --color4: #e5e9f0;
  --color5: #2e3440;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  height: 100vh;
  background-color: var(--color2);
}

header {
  position: absolute;
  margin: 2.78% 0 0 2.78%;
}

header h1 {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: var(--color1);
}

header img {
  width: 4.8rem;
  transform: rotate(90deg);
  text-transform: uppercase;
}

main {
  display: flex;
  height: calc(100vh - 8rem);
  width: 100vw;
}

.input-box {
  width: calc(100% - (2.78% + 16.67% + 27.78% + 8rem));
  margin: 16.8rem 2.78% 0 16.67%;
}

#input-text {
  height: 80%;
  width: 100%;
  border: none;
  resize: none;
  font-size: 3.8rem;
  text-transform: lowercase;
  color: var(--color5);
  background-color: var(--color2);
}

::placeholder {
  color: var(--color5);
}

#input-text:focus {
  outline: none;
}


.output-box {
  width: 27.78%;
  height: calc(100vh - 8rem);
  margin: 4rem;
  padding: 3.2rem;
  border-radius: 24px;
  background-color: var(--color4);
}

#output-text {
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  font-size: 2.4rem;
  border-radius: 2.4rem;
  color: var(--color5);
  background-color: var(--color4);
}

#output-text:focus {
  outline: none;
}

i.icon {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0.56%;
  display: block;
  background-repeat: no-repeat;
  background-image: url(/assets/img/bi_exclamation-circle-fill.svg);
}

.output-container {
  height: 80%;
  display: none;
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color1);
  font-size: 1.6rem;
  text-align: center;
  padding: 3.2rem 3.2rem 13.1rem 3.2rem;
}

.empty-container h2 {
  margin: 3.2rem 0 1.6rem 0;
}

.btn-container {
  margin-top: 15px;
  font-size: 1.4rem;
  color: var(--color1);
}

.btn-container p {
  display: flex;
  align-items: center;
  margin-bottom: 1.56%;
}

footer {
  position: absolute;
  right: 50%;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color1);
}

footer img {
  width: 3.5rem;
  padding: .5rem;
}